.swiper-container {
  width: auto;
}

.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  background-color: #e0e0e0;
  color: white;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

